#input. 
#full sequence
#ORF start
#PMF matrix
#feature table

#1. Convert PMF matrix to array. DONE
#2. Load and join Ref Seq and Feature DONE
#3. Calculate total and rl stuffs.
#*4. do codon stuffs and classify mutations.
#outputs.

#output
#Raw Table.
#graphs (Error types, # total reads, SKIP, Rel Errors)

In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

input_sequence='AATTCGAAATCATCCTTAGCGAAAGCTAAGGATTTTTTTTGCGAAATTAATACGACTCACTATAGGGAGACGACAACGGTTTCCCTCTAGAAATAATTTTGTTTAACTTTAAGAAGGAGATATACATATGGAAGTTCAATTAGTCGAGTCGGGTGGTGGTTTGGTGCAACCGGGTGGTAGCTTACGCCTGTCGTGTGCCGCGTCTGGTTTCAACATTCGCACTCAATCAATTCACTGGGTGCGTCAGGCCCCAGGTAAAGGCCTGGAATGGATCGGCGACATCTTTCCGATCGATGGTATTACGGATTACGCGGATTCCGTGAAGGGCCGTTTCACGATCTCGGCGGACACCTCTAAAAACACCGCTTATCTGCAGATGAATTCTCTGCGTGCAGAGGATACCGCAGTCTATTACTGCGCGCGTGGCTCCTGGTCCTGGCCTTCAGGCATGGACTATTACCTGGACTACTGGGGTCAGGGCACGTTGGTTACCGTTTCTTCAGCGTCAACCAAGGGTCCGTCGGTTTTTCCGCTGGCGCCGTCGTCAAAATCTACGTCCGGTGGTACCGCCGCTCTGGGTTGCCTGGTTAAAGACTACTTTCCGGAGCCGGTCACGGTTTCGTGGAACTCTGGTGCCCTGACTTCTGGCGTCCACACGTTCCCAGCCGTTTTGCAGTCATCCGGTCTGTAGTCGTTGTCCTCTGTGGTCACGGTGCCGTCATCGTCTCTGGGCACCCAAACCTATATCTGCAATGTCAACCACAAACCGTCCAATACGAAAGTTGACAAAAAAGTCGAGCCGAAATCTTGCGACAAGACCCACACGTGCCCTCCGTGCCCGGCACCGGAACTGCTGGGCGGTCCGTCGGTGTTCCTGTTCCCGCCGAAGCCGAAAGATACTCTGATGATCTCACGTACCCCGGAAGTCACGTGTGTTGTTGTTGACGTGTCACACGAAGATCCAGAGGTGAAATTCAATTGGTATGTGGACGGTGTCGAAGTGCATAATGCCAAAACCAAACCGCGCGAGGAACAGTACAACTCCACCTACCGCGTCGTGTCGGTGTTGACCGTCCTGCATCAAGACTGGCTGAACGGTAAAGAGTACAAGTGCAAGGTTTCAAATAAGGCACTGCCTGCGCCGATTGAAAAGACCATCTCTAAGGCAAAGGGCCAGCCGCGTGAGCCACAGGTGTATACCCTGCCGCCGTCGCGTGAAGAAATGACCAAGAACCAAGTTTCACTGACGTGTCTGGTCAAGGGCTTTTATCCGTCCGATATTGCGGTGGAGTGGGAGTCTAATGGCCAGCCGGAAAACAATTACAAAACGACTCCGCCGGTGCTGGATTCCGACGGTTCGTAGTTCCTGTATTCCAAGCTGACCGTTGACAAATCACGTTGGCAGCAAGGCAACGTTTTTTCTTGTTCGGTAATGCACGAAGCGCTGCACAATCATTACACCCAGAAATCACTGTCGTTGTCTCCGGGCAAATAAGTCGACCGGCTGCTAACAAAGCCCGAAAGGAAGCTGAGTTGGCTGCTGCCACCGCTGAGCAATAACTAGCATAACCCCTTGGGGCCTCTAAACGGGTCTTGAGGGGTTTTTTGCTGAAAGCCAATTCTGATTAGAAAAACTCATCGAGCATCAAATGAAACTGCAATTTATTCATATCAGGATTATCAATACCATATTTTTGAAAAAGCCGTTTCTGTAATGAATGAGAAAACTCACCGAGGCAGTTCCATAGGATGGCAAGATCCTGGTATCGGTCTGCGATTCCGACTCGTCCAACATCAATACAACCTATTAATTTCCCCTCGTCAAAAATAAGGTTATCAAGTGAGAAATCACCATGAGTGACGACTGAATCCGGTGAGAATGGCAAAAGCTTATGCATTTCTTTCCAGACTTGTTCAACAGGCCAGCCATTACGCTCGTCATCAAAATCACTCGCATCAACCAAACCGTTATTCATTCGTGATTGCGCCTGAGCGAGACGAAATACGCGATCGCTGTTAAAAGGACAATTACAAACAGGAATCGAATGCAACCGGCGCAGGAACACTGCCAGCGCATCAACAATATTTTCACCTGAATCAGGATATTCTTCTAATACCTGGAATGCTGTTTTCCCGGGGATCGCAGTGGTGAGTAACCATGCATCATCAGGAGTACGGATAAAATGCTTGATGGTCGGAAGAGGCATAAATTCCGTCAGCCAGTTTAGTCTGACCATCTCATCTGTAACATCATTGGCAACGCTACCTTTGCCATGTTTCAGAAACAACTCTGGCGCATCGGGCTTCCCATACAATCGATAGATTGTCGCACCTGATTGCCCGACATTATCGCGAGCCCATTTATACCCATATAAATCAGCATCCATGTTGGAATTTAATCGCGGCTTCGAGCAAGACGTTTCCCGTTGAATATGGCTCATGGGTTACTCCTGAAATGAATATCTGCGTGAGGCATGCATTGTAAAAATCAGCAGCAAATCAGGCCTGAGATAGCGTCCAGGCAAAACCTGGAAAATTTCTTAGTTTTGCCGGATATGAAGTGGATCCTGCAGTTGACATGTAGTTCGTTCCACTGAGCGTCAGACCCCGTAGAAAAGATCAAAGGATCTTCTTGAGATCCTTTTTTTCTGCGCGTAATCTGCTGCTTGCAAACAAAAAAACCACCGCTACCAGCGGTGGTTTGTTTGCCGGATCAAGAGCTACCAACTCTTTTTCCGAAGGTAACTGGCTTCAGCAGAGCGCAGATACCAAATACTGTTCTTCTAGTGTAGCCGTAGTTAGGCCACCACTTCAAGAACTCTGTAGCACCGCCTACATACCTCGCTCTGCTAATCCTGTTACCAGTGGCTGCTGCCAGTGGCGATAAGTCGTGTCTTACCGGGTTGGACTCAAGACGATAGTTACCGGATAAGGCGCAGCGGTCGGGCTGAACGGGGGGTTCGTGCACACAGCCCAGCTTGGAGCGAACGACCTACACCGAACTGAGATACCTACAGCGTGAGCTATGAGAAAGCGCCACGCTTCCCGAAGGGAGAAAGGCGGACAGGTATCCGGTAAGCGGCAGGGTCGGAACAGGAGAGCGCACGAGGGAGCTTCCAGGGGGAAACGCCTGGTATCTTTATAGTCCTGTCGGGTTTCGCCACCTCTGACTTGAGCGTCGATTTTTGTGATGCTCGTCAGGGGGGCGGAGCCTATGGAAAAACGCCAGCAACGCGGCCTTTTTACGGTTCCTGGCCTTTTGCTGGCCTTTTGCTCACATGTTCTTTCCTGCGTTATCCCCTGATTCTGTGGATAACCGTATTACCGCCTTTGAGTGAGCTGATACCGCTCGCCGCAGCCGAACGACCGAGCGCAGCGAGTCAGTGAGCGAGGAAGCGGAAGAGCGCCCAATACGCAAACCGCCTCTCCCCGCGCGTTGGCCGATTCATTAATGCAGCTGGCACGACAGGTTTCCCGACTGGAAAGCGGGCAGTGAGCGCAACGCAATTAATGTGAGTTAGCTCACTCATTAGGCAGCGCCCAATACGCAAACCGCCTCTCCCCGCGCGTTGGCCGATTCATTAATGCAGCTGGCACGACAGGTTTCCCGACTGGAAAGCGGGCAGTGAGCGCAACGCAATTAATGTGAGTTAGCTCACTCATTAGGCACG'
ORF_start=128
feature_table=pd.read_csv("feature_table.csv")
df1=pd.read_csv("HC_pmf.csv")  #Heavy Chain 54
df2=pd.read_csv("LC_pmf.csv")  #Light Chain 54
df1

        bp      A      C  G     T  N  INS  DEL  SKIP        ERR     ERR.1
0        1   6414      0  0     0  0    0    0     0   1.588511  0.000248
1        2   6847      0  0     0  0    0    0     0   1.610282  0.000235
2        3      0      0  0  7151  0    0    0     0   1.744357  0.000244
3        4      0      0  0  7534  0    0    0     0   1.507503  0.000200
4        5      0   7984  0     0  0    0    0     0   1.623915  0.000203
...    ...    ...    ... ..   ... ..  ...  ...   ...        ...       ...
3668  3669  88973      0  1     0  0    0    0     0  21.942345  0.000247
3669  3670      0  36521  0     0  0    0    0     0  13.690954  0.000375
3670  3671      0      0  0     0  0    0    0     0   0.000000       NaN
3671  3672      0      0  0     0  0    0    0     0   0.000000       NaN
3672  3673      0      0  0     0  0    0    0     0   0.000000       NaN

[3673 rows x 11 columns]

In [104]:
##
def get_feature(pos):  #lookup feature from feature table.
    z=feature_table.loc[feature_table["Start"]<=pos+1].iloc[-1:]["Feature"]
    return z.item()
def max_c(input):  #max of 0 or input
    return np.max(0,input)
def process_data(df, input_seq, feature_table):  #inputs pmf.csv and input_sequence, feature table
    assert len(input_sequence)<len(df)
    s=pd.Series(list(input_sequence))
    s.name="ref_seq"
    df=pd.concat([df, s], axis=1)
    ##


    df["Feature"]=df.apply(lambda x: get_feature(x.name),axis=1)
    df["zero"]=0
    df["#_total"]=df['sum'] = df[['A','C','G','T','N','INS','DEL','SKIP']].sum(axis=1)
    df["#_match"]=df['sum'] = df[['A','C','G','T']].sum(axis=1)
    df["#_err_all"]=df['sum'] = df['#_total']-df['#_match']
    df["#_mut"]=df['sum'] = df['#_err_all']-df['N']-df['INS']-df['DEL']-df['SKIP']

    df["rel_match"]=df["#_match"]/df["#_total"]
    df["rel_error_all"]=df["#_err_all"]/df["#_total"]-df['ERR.1']
    df["rel_error_all"]=df[['zero','rel_error_all']].max(axis=1)

    df["rel_error_all"]=df["#_err_all"]/df["#_total"]-df['ERR.1']
    df["rel_error_all"]=df[['zero','rel_error_all']].max(axis=1)
    # df["rel_mut"]=np.max(0,df["#_mut"]/df["#_total"]-df['ERR.1'])
    # df["rel_N"]=np.max(0,df["N"]/df["#_total"]-df['ERR.1'])
    # df["rel_INS"]=np.max(0,df["INS"]/df["#_total"]-df['ERR.1'])
    # df["rel_DEL"]=np.max(0,df["DEL"]/df["#_total"]-df['ERR.1'])
    # df["rel_SKIP"]=np.max(0,df["SKIP"]/df["#_total"]-df['ERR.1'])
    return df

process_data(df1,input_sequence,feature_table)

,bp,A,C,G,T,N,INS,DEL,SKIP,ERR,...,ref_seq,Feature,zero,#_total,sum,#_match,#_err_all,#_mut,rel_match,rel_error_all
0,1,6414,0,0,0,0,0,0,0,1.588511,...,A,Leader,0,6414,0,6414,0,0,1.0,0.0
1,2,6847,0,0,0,0,0,0,0,1.610282,...,A,Leader,0,6847,0,6847,0,0,1.0,0.0
2,3,0,0,0,7151,0,0,0,0,1.744357,...,T,Leader,0,7151,0,7151,0,0,1.0,0.0
3,4,0,0,0,7534,0,0,0,0,1.507503,...,T,Leader,0,7534,0,7534,0,0,1.0,0.0
4,5,0,7984,0,0,0,0,0,0,1.623915,...,C,Leader,0,7984,0,7984,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3668,3669,88973,0,1,0,0,0,0,0,21.942345,...,A,junk 3,0,88974,0,88974,0,0,1.0,0.0
3669,3670,0,36521,0,0,0,0,0,0,13.690954,...,C,junk 3,0,36521,0,36521,0,0,1.0,0.0
3670,3671,0,0,0,0,0,0,0,0,0.000000,...,G,junk 3,0,0,0,0,0,0,NaN,0.0
3671,3672,0,0,0,0,0,0,0,0,0.000000,...,NaN,junk 3,0,0,0,0,0,0,NaN,0.0
3672,3673,0,0,0,0,0,0,0,0,0.000000,...,NaN,junk 3,0,0,0,0,0,0,NaN,0.0

In [92]:
df=df2.copy()

# df2["#_match"]
# df2["#_error_all"]
# df2["#_mut"]

# df2["rel_match"]
# df2["rel_error_all"]
# df2["rel_mut"]
# df2["rel_N"]
# df2["rel_INS"]
# df2["rel_DEL"]
# df2["rel_SKIP"]

df

,bp,A,C,G,T,N,INS,DEL,SKIP,ERR,ERR.1,ref_seq,Feature,#_total,sum
0,1.0,0.0,0.0,0.0,14956.0,0.0,0.0,0.0,0.0,6.732862,0.000450,A,Leader,14956.0,14956.0
1,2.0,0.0,0.0,0.0,16289.0,0.0,0.0,0.0,0.0,6.126948,0.000376,A,Leader,16289.0,16289.0
2,3.0,0.0,18113.0,0.0,0.0,0.0,0.0,0.0,0.0,7.175151,0.000396,T,Leader,18113.0,18113.0
3,4.0,0.0,0.0,18354.0,0.0,0.0,0.0,0.0,0.0,6.665467,0.000363,T,Leader,18354.0,18354.0
4,5.0,18618.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.719027,0.000415,C,Leader,18618.0,18618.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,junk 3,0.0,0.0
3667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,junk 3,0.0,0.0
3668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,junk 3,0.0,0.0
3669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,junk 3,0.0,0.0
3670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,junk 3,0.0,0.0

In [ ]:
#append